src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json"
    xmlns:mqtt="http://www.mulesoft.org/schema/mule/mqtt"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
        http://www.mulesoft.org/schema/mule/mqtt http://www.mulesoft.org/schema/mule/mqtt/current/mule-mqtt.xsd">

    <configuration>
        <expression-language>
            <global-functions file="qrcode_data_to_map.mel" />
        </expression-language>
    </configuration>

    <mqtt:config name="mqttClient" brokerServerUri="${mqttBrokerServerUri}"
        clientId="booth-reader-${boothId}">
        <reconnect-forever frequency="5000" />
    </mqtt:config>

    <flow name="fileToMqttBridge">
        <file:inbound-endpoint path="/tmp/mule/in" />

        <object-to-string-transformer />

        <!-- extract attendee info and transform to JSON payload -->
        <expression-transformer expression="#[extractAttendeeData(message.payload)]" />
        <json:object-to-json-transformer />

        <mqtt:publish topicName="scans/booths" />

        <logger level="INFO"
            message="Booth ${boothId} has scanned attendee #[attendeeId]" />
    </flow>
</mule>